<div class="homepage_cover">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">

      <div class="item active">
        <%= image_tag("restaurant2.jpg", class: "img-responsive") %>
        <div class = "carousel-caption">
          <h2>Restaurant Cook</h2>
          <h4>Allows you to find quality restaurants wherever your are.</h4>
        </div>
      </div>
        
        
        <div class="item">
        <%= image_tag("restaurant3.jpg", class: "img-responsive") %>
        <div class = "carousel-caption">
          <h2>Find new places to eat</h2>
          <h4>Choose from a number of restaurants registered on your app.</h4>
        </div>
      </div>
        
        
        <div class="item">
        <%= image_tag("homecook.jpg", class: "img-responsive") %>
        <div class = "carousel-caption">
          <h2>Try it out at home</h2>
          <h4>Be adventurous, cook the recipes you find on the restaurant you visited.</h4>
        </div>
      </div>

      <div class="item">
        <%= image_tag("restaurant4.jpg", class: "img-responsive") %>
        <div class = "carousel-caption">
          <h2>Restaurant Cook</h2>
          <h4>Allows you to find quality restaurants wherever your are.</h4>
        </div>
      </div>

      <div class="item">
        <%= image_tag("ipadrecipes.jpg", class: "img-responsive") %>
        <div class = "carousel-caption">
          <h2>Iphone and Ipad</h2>
          <h4>Access a list of recipes and save them to cook later.</h4>
        </div>
      </div>
    </div>   

    <ol class= "carousel-indicators">
      <li data-target="#myCarousel"data-slide-to="0" class= "active"></li>
      <li data-target="#myCarousel"data-slide-to="1"></li>
      <li data-target="#myCarousel"data-slide-to="2"></li>
      <li data-target="#myCarousel"data-slide-to="3"></li>
      <li data-target="#myCarousel"data-slide-to="4"></li>
    </ol>

    <a class= "carousel-control left" href = "#myCarousel" data-slide = "prev">
      <span class = "icon-prev"></span>

      <a class= "carousel-control right" href = "#myCarousel" data-slide = "next">
        <span class = "icon-next"></span>
    </a>

  </div>


  
</div>